@model IEnumerable<AluminiManagement.Models.tbl_MemberForm>
@if (Session["Email"] == null)
{
    Response.Redirect("~/Account/SmartLogin");
}
@{
    ViewBag.Title = "Manage Member | Alumni";
    Layout = "~/Views/Shared/_adminPanelLayout.cshtml";
}


<br />
<table id="alumini" class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>UID</th>
            <th>Name</th>
            <th>Email Id</th>
            <th>Phone Number</th>
            <th>Date of Leaving College</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var data in Model)
        {
            <tr>
                <td>@data.uid</td>
                <td>@Html.ActionLink(data.name, "Edit", "ManageMember", new { id = data.id }, null)</td>
                <td>@data.email</td>
                <td>@data.phoneNo</td>
                <td>@data.collegelastdate.ToString("dd MMM yyyy")</td>
                <td><button data-alumini-id="@data.id" class="btn-link js-delete">Delete</button></td>
            </tr>
        }
    </tbody>
</table>
@section scripts
{
    <script>
        $(document).ready(function () {
            $("#alumini").DataTable();
            $("#alumini .js-delete").on("click", function () {
                var button = $(this);
                bootbox.confirm("Sure want to delete this Alumini?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/alumini/" + button.attr("data-alumini-id"),
                            method: "DELETE",
                            success: function () {
                                button.parents("tr").remove();
                            }
                        });
                    }
                })
            })
        });
    </script>
}
